<!-- <h1> Welcome to {{hotelName}}</h1> -->
<app-header>

</app-header>
<div [hidden]="hideRooms">
  Number of Rooms:
  <div [ngStyle]="room.availableRooms? {'color':'Green'}:{'color':'Black'}"
       [innerText]="numberOfRooms">{{room.availableRooms ?? "No Rooms"}}</div>
<!--<div>{{roomList | json}}</div>-->

</div>


<div *ngIf="selectedRoom">
{{ selectedRoom | json}}
</div>

<div>
  <button (click)="addRoom()">Add Room</button>
</div>
<div *ngIf="roomList.length > 0">
  <app-rooms-list [rooms]="roomList" [title]="title"
(selectedRoom)="selectRoom($event)">
</app-rooms-list>
</div>

<button (click)="toggle()">Toggle</button>

